html, body {
  height: 100%;
  width: 100%;
}
h1, h2{
  font-weight: bold;
  font-family: Franklin Gothic Medium;
  text-align: center;
}
body{
  background-color: lightblue;
}
h3{
  font-family: Cambria;
}